<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cadastro de Alunos</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
   <link rel="stylesheet" href="alunos.css" />
  </head>
  <body>
    <div class="container mt-5">
      <h2 class="mb-4 text-center">Cadastro de Alunos</h2>
      <form action="/alunos/add" method="POST">
        <div class="form-group">
          <label for="studentName">Nome</label>
          <input
            type="text"
            class="form-control"
            id="studentName"
            name="nome" 
          />
        </div>
        <div class="form-group">
          <label for="studentCPF">CPF</label>
          <input
            type="text"
            class="form-control"
            id="studentCPF"
            name="cpf"  
          />
        </div>
        <div class="form-group">
          <label for="studentRA">RA</label>
          <input
            type="text"
            class="form-control"
            id="studentRA"
            name="ra" 
          />
        </div>
        <div class="form-group">
          <label for="studentEmail">Email</label>
          <input
            type="email"
            class="form-control"
            id="studentEmail"
            name="email"  
          />
        </div>
        <button type="submit" class="btn btn-primary btn-block">Cadastrar</button>
      </form>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>